on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/setup-node

      - name: Install dependencies
        run: npm install

      - name: Run linter
        run: npm run lint

      - name: Format source
        run: npm run format

      - name: Run unit tests
        run: npm run test

      - name: Run build
        run: npm run build

      - name: Commit and push changes
        uses: EndBug/add-and-commit@v9
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          committer_name: GitHub Actions
          message: 'chore: [skip-ci] format code and generate build artifacts'
          add: '.'
